/* Colors */
$orange-500: #F28622;
$orange-600: #F7941D;
$white: #FFFFFF;
$black: #000000;
$gray-400: #5B5B5B;
$gray-500: #676767;
$gray-700: #E3E3E3;
$gray-800: #F6F6F6;

//---theme---
$main-bg: $white;
$second-bg: $gray-800;
$accent-bg: $orange-500;
$alter-bg: $gray-400;

$main-text: $white;
$alter-text: $gray-500;
$accent-text: $orange-600;

$icons-color: $orange-600;

//button
$button-bg: $orange-600;
$button-text: $main-text;
//---theme-end---
